<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV PRICE PREDICTION</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <img src="https://www.flaticon.com/free-icon/smart-tv_1023572" alt="TV Icon" class="tv-icon">
            <a class="navbar-brand" href="/">TV PRICE</a>
        </div>
    </nav>

    <br><br><br>

    <div class="container">
        <form action="/predict" method="post">
            <!-- Brand Card -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">BRAND AND MODEL NUMBER</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <select name="Brand" id="Brand" required="required" class="form-control">
                            <option value="">Select...</option>
                            <option value="Samsung">Samsung</option>
                            <option value="LG">LG</option>
                            <option value="Sony Bravia">Sony Bravia</option>
                            <option value="Panasonic">Panasonic</option>
                            <option value="TCL">TCL</option>
                            <option value="Sony Bravia2">Sony Bravia2</option>
                            <option value="Hisense">Hisense</option>
                            <option value="MI">MI</option>
                            <option value="Haier">Haier</option>
                            <option value="Acer">Acer</option>
                            <option value="TOSHIBA">TOSHIBA</option>
                            <option value="OnePlus">OnePlus</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <select name="Model_Number" id="Model_Number" required="required" class="form-control">
                        <option value="">Select...</option>
                        <option value="Hisense-55E7K PRO">Hisense-55E7K PRO</option>
                        <option value="MI-L43M8-5XIN">MI-L43M8-5XIN</option>
                        <option value="LG-43UR7500PSC">LG-43UR7500PSC</option>
                        <option value="Sony Bravia-KD-55X74L">Sony Bravia-KD-55X74L</option>
                        <option value="Sony Bravia-KD-43X64L">Sony Bravia-KD-43X64L</option>
                        <option value="Sony Bravia-KD-65X74L">Sony Bravia-KD-65X74L</option>
                        <option value="Sony Bravia-KD-50X70L">Sony Bravia-KD-50X70L</option>
                        <option value="Sony Bravia-KD-43X70L">Sony Bravia-KD-43X70L</option>
                        <option value="Sony Bravia-KD-65X82L">Sony Bravia-KD-65X82L</option>
                        <option value="MI-L43R8-FVIN">MI-L43R8-FVIN</option>
                        <option value="Panasonic-TH-43MX660DX">Panasonic-TH-43MX660DX</option>
                        <option value="Sony Bravia-KD-55X82L">Sony Bravia-KD-55X82L</option>
                        <option value="Sony Bravia-KD-75X82L">Sony Bravia-KD-75X82L</option>
                        <option value="Sony Bravia-KD-43X80L">Sony Bravia-KD-43X80L</option>
                        <option value="Sony Bravia-XR-65A80L">Sony Bravia-XR-65A80L</option>
                        <option value="Sony Bravia-XR-55X90L">Sony Bravia-XR-55X90L</option>
                        <option value="Sony Bravia-KD-50X80L">Sony Bravia-KD-50X80L</option>
                        <option value="Sony Bravia 2-K-55S25">Sony Bravia 2-K-55S25</option>
                        <option value="Sony Bravia 2-K-65S25">Sony Bravia 2-K-65S25</option>
                        <option value="Panasonic-TH32MS660DX">Panasonic-TH32MS660DX</option>
                        <option value="TOSHIBA-43V35MP">TOSHIBA-43V35MP</option>
                        <option value="Panasonic-TH-55MX660DX">Panasonic-TH-55MX660DX</option>
                        <option value="LG-43UQ7550PSF">LG-43UQ7550PSF</option>
                        <option value="Sony Bravia-XR-65X90L">Sony Bravia-XR-65X90L</option>
                        <option value="Sony Bravia-XR-55A80L">Sony Bravia-XR-55A80L</option>
                        <option value="Samsung-UA32T4340BKXXL">Samsung-UA32T4340BKXXL</option>
                        <option value="Sony Bravia-XR-83A80L">Sony Bravia-XR-83A80L</option>
                        <option value="Sony Bravia-XR-77A80L">Sony Bravia-XR-77A80L</option>
                        <option value="Sony Bravia-KD-50X80K">Sony Bravia-KD-50X80K</option>
                        <option value="Acer-AR40GR2841FDFL">Acer-AR40GR2841FDFL</option>
                        <option value="Sony Bravia-65X7400H">Sony Bravia-65X7400H</option>
                        <option value="Hisense-43E7K">Hisense-43E7K</option>
                        <option value="TCL-55C645">TCL-55C645</option>
                        <option value="Acer-AR55GR2851UDPRO">Acer-AR55GR2851UDPRO</option>
                        <option value="Samsung-UA43AUE65AKXXL">Samsung-UA43AUE65AKXXL</option>
                        <option value="MI-L32R8-FVIN">MI-L32R8-FVIN</option>
                        <option value="MI-L43M8-A2IN">MI-L43M8-A2IN</option>
                        <option value="Samsung-UA65CUE60AKLXL">Samsung-UA65CUE60AKLXL</option>
                        <option value="LG-32LM563BPTC">LG-32LM563BPTC</option>
                        <option value="Samsung-UA55AUE65AKXXL">Samsung-UA55AUE65AKXXL</option>
                        <option value="OnePlus-43Y1S Pro">OnePlus-43Y1S Pro</option>
                        <option value="MI-L65M8-A2IN">MI-L65M8-A2IN</option>
                        <option value="TOSHIBA-55M650MP">TOSHIBA-55M650MP</option>
                        <option value="MI-L43M8-5AIN">MI-L43M8-5AIN</option>
                        <option value="Samsung-UA43DU7000KLXL">Samsung-UA43DU7000KLXL</option>
                        <option value="LG-32LQ643BPTA">LG-32LQ643BPTA</option>
                        <option value="LG-55UR7500PSC">LG-55UR7500PSC</option>
                        <option value="LG-55UQ7550PSF">LG-55UQ7550PSF</option>
                        <option value="LG-65UR7500PSC">LG-65UR7500PSC</option>
                        <option value="LG-50UR7500PSC">LG-50UR7500PSC</option>
                        <option value="Samsung-QA65LS03DAULXL">Samsung-QA65LS03DAULXL</option>
                        <option value="LG-43QNED75SRA">LG-43QNED75SRA</option>
                        <option value="LG-43UQ7500PSF">LG-43UQ7500PSF</option>
                        <option value="LG-32LQ576BPSA">LG-32LQ576BPSA</option>
                        <option value="LG-55UQ8020PSB">LG-55UQ8020PSB</option>
                        <option value="LG-55QNED75SRA">LG-55QNED75SRA</option>
                        <option value="LG-55NANO73SQA">LG-55NANO73SQA</option>
                        <option value="LG-55A3PSA">LG-55A3PSA</option>
                        <option value="LG-55C2PSC">LG-55C2PSC</option>
                        <option value="LG-43NANO73SQA">LG-43NANO73SQA</option>
                        <option value="Samsung-UA32T4380AKXXL">Samsung-UA32T4380AKXXL</option>
                        <option value="LG-55B2PSA">LG-55B2PSA</option>
                        <option value="LG-48C2PSA">LG-48C2PSA</option>
                        <option value="LG-65UQ7500PSF">LG-65UQ7500PSF</option>
                        <option value="LG-55LX1QPSA">LG-55LX1QPSA</option>
                        <option value="LG-43LM5600PTC">LG-43LM5600PTC</option>
                        <option value="Hisense-120L9HE">Hisense-120L9HE</option>
                        <option value="Samsung-UA43T5450AKXXL">Samsung-UA43T5450AKXXL</option>
                        <option value="LG-75SM9400PTA">LG-75SM9400PTA</option>
                        <option value="LG-65B2PSA">LG-65B2PSA</option>
                        <option value="Samsung-QA55Q60DAULXL">Samsung-QA55Q60DAULXL</option>
                        <option value="Samsung-QA55Q70DAULXL">Samsung-QA55Q70DAULXL</option>
                        <option value="Samsung-UA55DUE70BKLXL">Samsung-UA55DUE70BKLXL</option>
                        <option value="Samsung-UA43DUE70BKLXL">Samsung-UA43DUE70BKLXL</option>
                        <option value="Samsung-UA43DUE77AKLXL">Samsung-UA43DUE77AKLXL</option>
                        <option value="Samsung-UA55DUE77AKLXL">Samsung-UA55DUE77AKLXL</option>
                        <option value="Samsung-QA55QE1DAULXL">Samsung-QA55QE1DAULXL</option>
                        <option value="Samsung-UA65DUE77AKLXL">Samsung-UA65DUE77AKLXL</option>
                        <option value="Samsung-UA65DUE70BKLXL">Samsung-UA65DUE70BKLXL</option>
                        <option value="Samsung-UA55CUE70AKLXL">Samsung-UA55CUE70AKLXL</option>
                        <option value="Samsung-UA75DU8300UXXL">Samsung-UA75DU8300UXXL</option>
                        <option value="Samsung-QA65QE1DAULXL">Samsung-QA65QE1DAULXL</option>
                        <option value="MI-L32MA-FVIN">MI-L32MA-FVIN</option>
                        <option value="TOSHIBA-65M550MP">TOSHIBA-65M550MP</option>
                        <option value="Samsung-QA65S95DAULXL">Samsung-QA65S95DAULXL</option>
                        <option value="Samsung-QA85QN900AKXXL">Samsung-QA85QN900AKXXL</option>
                        <option value="Samsung-QA65QN800CKXXL">Samsung-QA65QN800CKXXL</option>
                        <option value="Samsung-QA85QN900CKXXL">Samsung-QA85QN900CKXXL</option>
                        <option value="Samsung-QA50Q60DAULXL">Samsung-QA50Q60DAULXL</option>
                        <option value="Samsung-QA65LS03BAKLXL">Samsung-QA65LS03BAKLXL</option>
                        <option value="TCL-43V6B">TCL-43V6B</option>
                        <option value="Samsung-QA55S90CAKLXL">Samsung-QA55S90CAKLXL</option>
                        <option value="Samsung-QA75QN800BKXXL">Samsung-QA75QN800BKXXL</option>
                        <option value="Samsung-QA75Q60BAKXXL">Samsung-QA75Q60BAKXXL</option>
                        <option value="Samsung-UA55DU7000KLXL">Samsung-UA55DU7000KLXL</option>
                        <option value="Samsung-QA55QN85DBULXL">Samsung-QA55QN85DBULXL</option>
                        <option value="Samsung-QA55QN90AAKLXL">Samsung-QA55QN90AAKLXL</option>
                        <option value="Samsung-UA32T4600AKXXL">Samsung-UA32T4600AKXXL</option>
                        <option value="Samsung-QA55Q80BAKLXL">Samsung-QA55Q80BAKLXL</option>
                        <option value="Samsung-QA43Q60DAULXL">Samsung-QA43Q60DAULXL</option>
                        <option value="TOSHIBA-43C350NP">TOSHIBA-43C350NP</option>
                        <option value="Samsung-UA65DU8300ULXL">Samsung-UA65DU8300ULXL</option>
                        <option value="Samsung-QA50QN90CAKLXL">Samsung-QA50QN90CAKLXL</option>
                        <option value="Samsung-QA55QN90DAULXL">Samsung-QA55QN90DAULXL</option>
                        <option value="Samsung-QA55QN95BAKLXL">Samsung-QA55QN95BAKLXL</option>
                        <option value="Samsung-UA50DU7660KLXL">Samsung-UA50DU7660KLXL</option>
                        <option value="Samsung-QA98QN90AAKXXL">Samsung-QA98QN90AAKXXL</option>
                        <option value="Samsung-QA65QN85AAKLXL">Samsung-QA65QN85AAKLXL</option>
                        <option value="Samsung-QA55LS03BAKLXL">Samsung-QA55LS03BAKLXL</option>
                        <option value="TOSHIBA-65M650MP">TOSHIBA-65M650MP</option>
                        <option value="Samsung-QA65QN85CAKLXL">Samsung-QA65QN85CAKLXL</option>
                        <option value="Samsung-QA75QN90BAKXXL">Samsung-QA75QN90BAKXXL</option>
                        <option value="Samsung-UA43DU7700KLXL">Samsung-UA43DU7700KLXL</option>
                        <option value="Samsung-UA55DU7700KLXL">Samsung-UA55DU7700KLXL</option>
                        <option value="Samsung-QA55QN85CAKLXL">Samsung-QA55QN85CAKLXL</option>
                        <option value="Samsung-75NU7100">Samsung-75NU7100</option>
                        <option value="Samsung-UA75CU8000KXXL">Samsung-UA75CU8000KXXL</option>
                        <option value="Samsung-UA43CU8000KLXL">Samsung-UA43CU8000KLXL</option>
                        <option value="Samsung-UA65TUE60AKBXL">Samsung-UA65TUE60AKBXL</option>
                        <option value="Samsung-QA55S95DAULXL">Samsung-QA55S95DAULXL</option>
                        <option value="MI-L32MA-AIN">MI-L32MA-AIN</option>
                        <option value="Samsung-QA43LS03BAKLXL">Samsung-QA43LS03BAKLXL</option>
                        <option value="Samsung-QA65Q60CAKLXL">Samsung-QA65Q60CAKLXL</option>
                        <option value="Samsung-QA65QN95BAKLXL">Samsung-QA65QN95BAKLXL</option>
                        <option value="TCL-43P635">TCL-43P635</option>
                        <option value="TCL-32S5400">TCL-32S5400</option>
                        <option value="Samsung-QA65Q60DAULXL">Samsung-QA65Q60DAULXL</option>
                        <option value="Samsung-QA75QN800CKXXL">Samsung-QA75QN800CKXXL</option>
                        <option value="Samsung-UA50DU8300ULXL">Samsung-UA50DU8300ULXL</option>
                        <option value="Samsung-QA65QN90DAULXL">Samsung-QA65QN90DAULXL</option>
                        <option value="Samsung-QA85QN90BAKXXL">Samsung-QA85QN90BAKXXL</option>
                        <option value="TOSHIBA-43C450ME">TOSHIBA-43C450ME</option>
                        <option value="MI-L50M8-5XIN">MI-L50M8-5XIN</option>
                        <option value="MI-L50M8-A2IN">MI-L50M8-A2IN</option>
                        <option value="MI-L55M8-A2IN">MI-L55M8-A2IN</option>
                        <option value="MI-55C450ME">MI-55C450ME</option>
                        <option value="MI-55U7K">MI-55U7K</option>
                        <option value="MI-L75M6-ESG">MI-L75M6-ESG</option>
                        <option value="MI-L55M8-5XIN">MI-L55M8-5XIN</option>
                        <option value="MI-43Y1S Pro">MI-43Y1S Pro</option>
                        <option value="MI-O55M7-Z2IN">MI-O55M7-Z2IN</option>
                        <option value="MI-X55">MI-X55</option>
                        <option value="MI-55C645">MI-55C645</option>
                        <option value="MI-43P635">MI-43P635</option>
                        <option value="OnePlus-32Y1">OnePlus-32Y1</option>
                        <option value="OnePlus-65 Q2 Pro">OnePlus-65 Q2 Pro</option>
                        <option value="OnePlus-65U1S">OnePlus-65U1S</option>
                        <option value="OnePlus-43Y1">OnePlus-43Y1</option>
                        <option value="OnePlus-50Y1S Pro">OnePlus-50Y1S Pro</option>
                        <option value="OnePlus-55U1S">OnePlus-55U1S</option>
                        <option value="OnePlus-43 Y1S">OnePlus-43 Y1S</option>
                        <option value="OnePlus-32 Y1S">OnePlus-32 Y1S</option>
                        <option value="Acer-AR32GT2841HDFL">Acer-AR32GT2841HDFL</option>
                        <option value="Panasonic-TH-65MX660DX">Panasonic-TH-65MX660DX</option>
                        <option value="Panasonic-TH-43MS660DX">Panasonic-TH-43MS660DX</option>
                        <option value="Hisense-55U7K">Hisense-55U7K</option>
                        <option value="Hisense-50E7K">Hisense-50E7K</option>
                        <option value="TOSHIBA-55C450ME">TOSHIBA-55C450ME</option>
                        <option value="Haier-LE32W400G">Haier-LE32W400G</option>
                        <option value="Haier-L43FG">Haier-L43FG</option>
                        <option value="Haier-L55FG">Haier-L55FG</option>
                        <option value="Haier-43P7GT">Haier-43P7GT</option>
                        <option value="Haier-55P7GT">Haier-55P7GT</option>
                        <option value="Haier-LE 43K 800UGT">Haier-LE 43K 800UGT</option>
                        <option value="Acer-AR55GR2851UDFL">Acer-AR55GR2851UDFL</option>
                        <option value="Hisense-55E7K">Hisense-55E7K</option>
                        <option value="TOSHIBA-C350NP Series">TOSHIBA-C350NP Series</option>
                        <option value="TOSHIBA-32V35MP">TOSHIBA-32V35MP</option>
                        <option value="TOSHIBA-50C450ME">TOSHIBA-50C450ME</option>
                        <option value="TOSHIBA-55M550MP">TOSHIBA-55M550MP</option>
                        <option value="TCL-55V6B">TCL-55V6B</option>
                        <option value="TCL-43C61B">TCL-43C61B</option>
                        <option value="TCL-40L4B">TCL-40L4B</option>
                        <option value="TCL-32S5500">TCL-32S5500</option>
                        <option value="TCL-50P635">TCL-50P635</option>
                        <option value="TCL-32S5500AF">TCL-32S5500AF</option>
                        <option value="TCL-55C61B">TCL-55C61B</option>
                        <option value="TCL-32S5403AF">TCL-32S5403AF</option>
                        <option value="TCL-50V6B">TCL-50V6B</option>
                        <option value="TCL-75P635">TCL-75P635</option>
                        <option value="TCL-65V6B">TCL-65V6B</option>
                        <option value="TCL-65P71B Pro">TCL-65P71B Pro</option>
                        <option value="TCL-98P745">TCL-98P745</option>
                        <option value="TCL-55P71B Pro">TCL-55P71B Pro</option>
                        <option value="TCL-55C655">TCL-55C655</option>
                        <option value="TCL-98C755">TCL-98C755</option>
                        <option value="TCL-65P635">TCL-65P635</option>
                        <option value="TCL-65C61B">TCL-65C61B</option>
                        <option value="TCL-43C655">TCL-43C655</option>
                        <option value="TCL-55C835">TCL-55C835</option>
                        <option value="Hisense-55A7H">Hisense-55A7H</option>
                        <option value="TCL-65C755">TCL-65C755</option>
                        <option value="TCL-55P635 Pro">TCL-55P635 Pro</option>
                        <option value="TCL-85C755">TCL-85C755</option>
                        <option value="TCL-55C755">TCL-55C755</option>
                        <option value="TCL-43C645">TCL-43C645</option>
                        <option value="TCL-65P635 Pro">TCL-65P635 Pro</option>
                        <option value="TCL-85P745">TCL-85P745</option>
                        <option value="TCL-65C645">TCL-65C645</option>
                    </select>
                </div>
            </div>
        </div>
    <br>
    <br>

            <!-- Screen Card -->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">SCREEN</h5>
                    <select name="Screen" id="Screen" required="required" class="form-control">
                        <option value="">Select...</option>
                        <option value="LED">LED</option>
                        <option value="OLED">OLED</option>
                        <option value="QLED">QLED</option>
                        <option value="Laser">Laser</option>
                        <option value="NanoCell">NanoCell</option>
                        <option value="QNED">QNED</option>
                    </select>
                </div>
            </div>
            <br>
            <br>

            <!-- Display Card -->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">DISPLAY</h5>
                    <select name="Display" id="Display" required="required" class="form-control">
                        <option value="">Select...</option>
                        <option value="4k UHD">4K UHD</option>
                        <option value="4K">4K</option>
                        <option value="8K UHD">8K UHD</option>
                        <option value="4K Dolby Vision">4K Dolby Vision</option>
                        <option value="Full HD">Full HD</option>
                        <option value="HD">HD</option>
                        <option value="UHD">UHD</option>
                    </select>
                </div>
            </div>
            <br>
            <br>

            <!-- Platform Card -->
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">STREAMING PLATFORM</h5>
                    <select name="Platform" id="Platform" required="required" class="form-control">
                        <option value="">Select...</option>
                        <option value="Smart TV">Smart TV</option>
                        <option value="Android">Android</option>
                        <option value="Google TV">Google TV</option>
                        <option value="Fire TV">Fire TV</option>
                    </select>
                </div>
            </div>
            <br>
            <br>

             <!-- Inches Card -->
             <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">INCHES</h5>
                    <input type="number" name="Inches" id="Inches" placeholder="Enter TV Inches" required="required" class="form-control">
                </div>
            </div>
            <br>
            <br>
            <br>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
            <br>
            <br>
            <h3>{{ prediction_text }}</h3>
            <br>
            <br>
        </form>
    </div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>
